
.navbar {
  width: 100%;
  height: 60px;
  background-color: #002429;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-logo {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto; 
}

.nav-item {
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.nav-item:hover {
  opacity: 0.7;
}
